@charset "UTF-8";
/* 重置样式 */
body,
ul,
input,
h3,
p,
dl,
dd,
h1,
h4 {
  padding: 0;
  margin: 0;
}

body {
  color: #666;
  font-size: 12px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #999;
}

/* 重置样式 */
/* 头部 */
#header ul, nav .nav {
  width: 1200px;
  margin: 0 auto;
}

#header {
  background-color: #fafafa;
  height: 30px;
}

#header ul li {
  float: right;
  line-height: 30px;
}

#header ul li a {
  padding: 0 20px;
  border-left: 1px solid #e5e5e5;
}

#header ul li a img {
  vertical-align: middle;
}

#header ul li a i {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url(../img/index-common.png);
  vertical-align: middle;
}

#header ul li a strong {
  color: #cf201c;
  padding-left: 4px;
}

#header ul li:nth-last-child(1) a {
  border: 0;
}

#header ul li:nth-child(5) a {
  color: #ec1611;
}

#header ul li:hover a {
  color: #e02f2f;
}

#header ul .usercookie {
  position: relative;
}
#header ul .usercookie em {
  position: absolute;
  height: 16px;
  right: -1px;
  font-style: normal;
  background: #fafafa;
  color: #999;
  text-align: right;
  line-height: 16px;
  padding: 0 20px;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#header ul .usercookie:hover em {
  display: block;
}

/* 手机下载二维码 */
#header ul li:nth-child(7) {
  position: relative;
  height: 30px;
}

#header .download_qr_code {
  position: absolute;
  width: 120px;
  height: 120px;
  padding: 8px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 5px #d4d4d4;
  background: #fff;
  display: none;
  top: 30px;
  z-index: 10;
}

#header ul li:nth-child(7):hover .download_qr_code {
  display: block;
}

#header ul li .download_qr_code a {
  border: 0;
  padding: 0;
}

/* 头部 */
/* 索搜 */
#search {
  width: 1200px;
  margin: 0 auto;
  padding: 22px 0;
  height: 56px;
}
#search img {
  float: left;
}
#search .search_bar {
  margin-top: 7px;
  border-radius: 5px;
  width: 545px;
  height: 35px;
  border: 2px solid #e60044;
  border-right: 0;
  float: left;
  margin-left: 30px;
  position: relative;
}
#search .search_bar .search_text {
  display: inline-block;
  width: 94px;
  height: 35px;
  padding-right: 17px;
  background: url(../img/index-common.png) -34px -34px no-repeat;
  color: #fff;
  font-size: 19px;
  text-align: center;
  font-family: "microsoft yahei";
  line-height: 35px;
}
#search .search_bar .search_input {
  width: 375px;
  height: 24px;
  position: absolute;
  top: 5px;
  border: 0;
  padding-left: 10px;
}
#search .search_bar .search_icon {
  position: absolute;
  right: 0;
  width: 48px;
  height: 24px;
  top: 7px;
  border: 0;
  text-indent: -99999px;
  background: url(../img/index-common.png) -34px 0 no-repeat;
}
#search .search_bar .search_data {
  position: absolute;
  width: 496px;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-top: 0;
  top: 40px;
  display: none;
  z-index: 10;
}
#search .search_bar .search_data a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  color: #333;
}
#search .search_bar .search_data a span {
  float: right;
  padding-right: 10px;
  color: #999;
}
#search .search_bar .search_data a span em {
  font-style: normal;
}
#search .search_bar .search_data a:hover {
  background: #e5e5e5;
}
#search .search_right {
  margin-top: 7px;
  width: 15px;
  height: 39px;
  float: left;
  background: url(../img/index-common.png) 0 -34px no-repeat;
  margin-left: -4px;
}
#search .search_three_icon {
  margin-top: 5px;
  float: right;
}

/* 索搜 */
/* 导航 */
#header ul, nav .nav {
  width: 1200px;
  margin: 0 auto;
}

nav {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

nav .nav ul {
  height: 40px;
}
nav .nav ul li {
  float: left;
}
nav .nav ul li a {
  height: 38px;
  display: block;
  line-height: 40px;
  width: 130px;
  text-align: center;
  font-size: 16px;
  color: #696969;
}
nav .nav ul li:nth-child(1) a {
  height: 40px;
  width: 150px;
  background: #e60044;
  color: #fff;
  box-sizing: border-box;
}
nav .nav ul span {
  float: left;
}
nav .nav ul span a {
  display: block;
  width: 126px;
  height: 34px;
  background: url(../img/126x34.31dcb164756e442506db73bd7457c8f7.gif);
}

nav .nav ul li > a:hover {
  border-bottom: 2px solid #ec1611;
  box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd;
}

/* 导航 */
/* 详情页主要部分 */
#details_main {
  width: 1200px;
  margin: 0 auto;
  height: 600px;
  padding-top: 38px;
}
#details_main .details_left {
  width: 402px;
  height: 520px;
  float: left;
}
#details_main .details_left .small_pic {
  width: 400px;
  height: 400px;
  border: 1px solid #e5e5e5;
  background: url(../img/loading400x400.81829cce.gif) no-repeat center center;
}
#details_main .details_left ul {
  width: 408px;
  height: 60px;
  margin-top: 16px;
}
#details_main .details_left ul li {
  float: left;
  width: 58px;
  height: 58px;
  border: 1px solid #e5e5e5;
  margin-right: 8px;
}
#details_main .details_left p {
  margin-top: 20px;
  height: 22px;
  line-height: 22px;
}
#details_main .details_left p i {
  display: inline-block;
  width: 16px;
  height: 14px;
}
#details_main .details_left p a {
  margin-right: 15px;
}
#details_main .details_left p a:nth-child(1) i {
  background: url(../img/p_Spirit1-3.95484520.png) 0 -192px;
}
#details_main .details_left p a:nth-child(2) i {
  background: url(../img/p_Spirit1-3.95484520.png) -32px -192px;
}
#details_main .details_left p a:nth-child(3) i {
  background: url(../img/p_Spirit1-3.95484520.png) -64px -192px;
}
#details_main .details_left p a:hover {
  color: #e02f2f;
}
#details_main .details_left p a:nth-child(1):hover i {
  background: url(../img/p_Spirit1-3.95484520.png) -16px -192px;
}
#details_main .details_left p a:nth-child(2):hover i {
  background: url(../img/p_Spirit1-3.95484520.png) -48px -192px;
}
#details_main .details_left p a:nth-child(3):hover i {
  background: url(../img/p_Spirit1-3.95484520.png) -80px -192px;
}
#details_main .details_middle {
  width: 550px;
  height: 520px;
  float: left;
  margin-left: 40px;
}
#details_main .details_middle h1 {
  color: #333;
  font-size: 16px;
}
#details_main .details_middle h3 {
  margin-top: 5px;
  color: #e99494;
  font-size: 12px;
  font-weight: normal;
}
#details_main .details_middle .product_price {
  margin-top: 20px;
  width: 512px;
  height: 70px;
  padding: 12px 18px 9px 18px;
  background: #fff6eb;
}
#details_main .details_middle .product_price p {
  width: 512px;
  height: 40px;
}
#details_main .details_middle .product_price p em {
  color: #ec1611;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}
#details_main .details_middle .product_price p strong {
  color: #ec1611;
  font-size: 26px;
  margin-left: 3px;
}
#details_main .details_middle .product_price p span {
  float: right;
  width: 135px;
  height: 40px;
  color: #666;
  line-height: 40px;
  position: relative;
  text-align: right;
  margin-right: 100px;
}
#details_main .details_middle .product_price p span i {
  display: inline-block;
  width: 11px;
  height: 16px;
  margin-right: 4px;
  background: url(../img/p_Spirit1-3.95484520.png) no-repeat -89px -284px;
  position: absolute;
  left: 0;
  top: 13px;
}
#details_main .details_middle .product_price h4 {
  width: 512px;
  height: 26px;
  font-weight: normal;
}
#details_main .details_middle .product_price h4 i {
  display: inline-block;
  width: 44px;
  height: 16px;
  background: #c5c5c5;
  color: #fff;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  border-radius: 3px;
  margin-right: 10px;
}
#details_main .details_middle .product_price h4 span {
  color: #666;
}
#details_main dl {
  width: 512px;
  height: 27px;
  padding: 12px 18px 9px 18px;
}
#details_main dl i {
  display: inline-block;
  font-style: normal;
  width: 16px;
  height: 16px;
  background: #ec1813;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  text-align: center;
}
#details_main dl dt {
  float: left;
  width: 46px;
  height: 18px;
  text-indent: 8px;
  line-height: 18px;
  padding-left: 3px;
  background: url(../img/new1.ccb9914b.png) no-repeat 0 0;
  color: #fff;
}
#details_main dl dd {
  float: left;
  width: 300px;
  margin-left: 8px;
}
#details_main dl dd address {
  display: inline-block;
  font-style: normal;
  margin-left: 10px;
}
#details_main dl dd em {
  font-style: normal;
  margin-left: 20px;
}
#details_main dl .service2 {
  margin-top: 10px;
}
#details_main .color {
  margin-top: 10px;
}
#details_main .color a {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 1px solid #ccc;
  margin-right: 6px;
}
#details_main .size a {
  display: inline-block;
  padding: 0 8px;
  height: 24px;
  border: 1px solid #ccc;
  margin-right: 6px;
  line-height: 24px;
  text-align: center;
  color: #666;
}
#details_main .number p {
  width: 102px;
  height: 28px;
  border: 1px solid #ccc;
  margin-right: 10px;
  position: relative;
}
#details_main .number p input {
  width: 38px;
  height: 18px;
  padding: 5px;
  border: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 18px;
  position: absolute;
  left: 26px;
}
#details_main .number p em {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin: 0;
}
#details_main .number p .num_left {
  background: url(../img/p_Spirit6.b652a725.png) no-repeat -1px -179px;
}
#details_main .number p .num_right {
  position: absolute;
  right: 0;
  background: url(../img/p_Spirit6.b652a725.png) no-repeat -1px -240px;
}
#details_main .click_buy {
  height: 53px;
}
#details_main .click_buy input {
  width: 158px;
  height: 53px;
  border: 1px solid #ec1611;
  font-size: 20px;
  line-height: 53px;
  background: #fff;
  color: #ec1611;
  margin-right: 10px;
}
#details_main .click_buy input:nth-child(2) {
  background: #ec1611;
  color: #fff;
}
#details_main dl:nth-last-child(1) span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/new_ico8.e0121a0d.png) no-repeat -133px -199px;
  margin-left: 10px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
}

/* 详情页主要部分 */
/* footer 搴曢儴*/
footer {
  border-top: 3px solid #ec1611;
  background: #fff;
}
footer .footer_top ul {
  width: 1200px;
  margin: 0 auto;
  height: 298px;
}
footer .footer_top ul li {
  float: left;
  width: 140px;
  height: 270px;
  padding-top: 28px;
  padding-left: 60px;
}
footer .footer_top ul li span {
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 14px;
}
footer .footer_top ul li h3 {
  font-size: 16px;
  color: #333;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}
footer .footer_top ul li a {
  display: block;
  height: 24px;
  line-height: 24px;
  color: #999;
}
footer .footer_top ul li:nth-child(1) {
  padding-left: 0;
}
footer .footer_top ul li:nth-child(1) span {
  background: url(../img/foot_icon.png) 0 0;
}
footer .footer_top ul li:nth-child(2) span {
  background: url(../img/foot_icon.png) -95px 0;
}
footer .footer_top ul li:nth-child(3) span {
  background: url(../img/foot_icon.png) 0 -95px;
}
footer .footer_top ul li:nth-child(4) span {
  background: url(../img/foot_icon.png) -190px 0;
}
footer .footer_top ul li:nth-child(5) span {
  background: url(../img/foot_icon.png) -95px -95px;
}
footer .footer_top ul li:nth-child(5) em {
  font-style: normal;
  color: #999;
  height: 24px;
  line-height: 24px;
  display: inline-block;
}
footer .footer_top ul li:nth-child(5) a {
  width: 80px;
  display: inline-block;
  color: #ec1611;
}
footer .footer_top ul li:nth-child(5) .download {
  display: block;
  height: 24px;
  line-height: 24px;
  color: #999;
  width: 140px;
}
footer .footer_top ul li:nth-child(5) .email {
  width: 90px;
  height: 21px;
  padding: 1px 0 1px 5px;
  border: 1px solid #eaeaea;
  vertical-align: middle;
}
footer .footer_top ul li:nth-child(5) .subscription {
  width: 40px;
  height: 25px;
  padding: 1px 6px;
  border: 1px solid #eaeaea;
  vertical-align: middle;
  border-left: 0;
  margin-left: -3px;
  color: #999;
  background: #fafafa;
}
footer .footer_top ul li:nth-child(6) .zhe800_logo {
  width: 104px;
  height: 216px;
  background: url(../img/footer_code.png);
  margin: 0 33px;
}
footer .footer_top ul li:nth-child(6) strong {
  display: block;
  width: 170px;
  height: 30px;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
}
footer .links ul {
  width: 750px;
  padding-top: 20px;
  height: 20px;
  margin: 0 auto;
}
footer .links ul li {
  float: left;
}
footer .links ul li a {
  margin-right: 10px;
}
footer .links ul li:nth-last-child(1) {
  float: right;
}
footer .footer_footer {
  height: 100px;
  padding-top: 10px;
  width: 1200px;
  margin: 0 auto;
}
footer .footer_footer ul {
  margin: 0 auto;
  height: 16px;
  width: 1000px;
  margin-bottom: 20px;
}
footer .footer_footer ul li {
  float: left;
  color: #999;
  margin-right: 10px;
}
footer .footer_footer ul li a {
  color: #999;
}
footer .footer_footer ul:nth-child(2) {
  width: 550px;
}
footer .footer_footer p {
  width: 560px;
  color: #999;
  margin: 0 auto;
}
footer .footer_footer .footer_icon {
  padding-top: 20px;
  width: 75px;
  margin: 0 auto;
  padding-bottom: 20px;
}
footer .footer_footer .footer_icon span {
  display: inline-block;
  width: 32px;
  height: 30px;
  margin-right: 10px;
}
footer .footer_footer .footer_icon span:nth-child(1) {
  background: url(../img/logo.jpg);
  background-size: cover;
}
footer .footer_footer .footer_icon span:nth-child(2) {
  margin-right: 0;
  background: url(../img/gsrz-icon.jpg);
  background-size: cover;
}

/* footer 底部*/
/* sidebar侧边栏 */
#sidebar {
  z-index: 100;
  width: 34px;
  height: 100%;
  background: #000;
  position: fixed;
  right: 0;
  top: 0;
}
#sidebar a:hover {
  background: #c7000b;
}
#sidebar .sidebar_top {
  margin-top: 40px;
}
#sidebar .sidebar_top a {
  display: block;
  height: 42px;
  position: relative;
}
#sidebar .sidebar_top a:nth-child(1) {
  padding-top: 20px;
  display: block;
  height: 113px;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
}
#sidebar .sidebar_top a:nth-child(1) span {
  width: 19px;
  height: 17px;
  display: block;
  background: url(../img/sidebar_cart.png);
  margin-bottom: 10px;
  margin-left: -3px;
}
#sidebar .sidebar_top a:nth-child(1) em {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/side_golds.png) -1px -95px;
  margin-left: -3px;
  margin-top: 10px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
}
#sidebar .sidebar_top a:hover em {
  background: url(../img/side_golds.png) -1px -120px;
  color: #c7000b;
}
#sidebar .sidebar_top a:nth-child(2) {
  background: url(../img/side_golds.png) 6px -188px;
  margin-left: 1px;
}
#sidebar .sidebar_top a:nth-child(3) {
  background: url(../img/quan_iconnew.png) no-repeat center;
}
#sidebar .sidebar_top a:nth-child(4) {
  background: url(../img/myFavorites.png) no-repeat center;
}
#sidebar .sidebar_top a:nth-child(5) {
  background: url(../img/side_golds.png) 4px -227px;
}
#sidebar .sidebar_bottom {
  position: absolute;
  height: 260px;
  bottom: 0;
  width: 34px;
}
#sidebar .sidebar_bottom a {
  display: block;
  height: 42px;
  position: relative;
}
#sidebar .sidebar_bottom a:nth-child(1) {
  background: url(../img/sidePanel_checkin1N.gif) no-repeat center;
  margin-left: 1px;
}
#sidebar .sidebar_bottom a:nth-child(2) {
  background: url(../img/sidePanelIconsNew.png) no-repeat -386px 0;
  margin-left: 1px;
}
#sidebar .sidebar_bottom a:nth-child(3) {
  background: url(../img/sidePanelIconsNew.png) no-repeat -267px 0;
}
#sidebar .sidebar_bottom a:nth-child(4) {
  background: url(../img/sidePanelIconsNew.png) no-repeat -330px 0;
}
#sidebar .sidebar_bottom a:nth-child(5) {
  background: url(../img/sidePanelIconsNew.png) no-repeat -501px 0;
}
#sidebar .sidebar_bottom a:nth-child(6) {
  background: url(../img/sidePanelIconsNew.png) no-repeat -554px 0;
}
#sidebar p {
  position: absolute;
  left: 34px;
  width: 159px;
  height: 42px;
  background: #c7000b;
  color: #fff;
  line-height: 42px;
  text-align: center;
  right: 34px;
  z-index: 101;
}

/* sidebar侧边栏 */

/*# sourceMappingURL=details.css.map */
