@charset "UTF-8";
/* brand_choice品牌精选 */
#brand_choice {
  padding-top: 31px;
  width: 1200px;
  margin: 0 auto;
  height: 376px;
}

#brand_choice .brand_choice_top {
  height: 40px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ff404c;
  position: relative;
  line-height: 40px;
}

#brand_choice .brand_choice_top img {
  position: absolute;
  margin-left: 13px;
  font-size: 0;
  left: 0;
  top: 5px;
}

#brand_choice .brand_choice_top span {
  font-size: 14px;
  margin-left: 170px;
}

#brand_choice .brand_choice_top span i {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ff404c;
  border-radius: 6px;
  vertical-align: center;
  margin-right: 5px;
}

#brand_choice .brand_choice_top span em {
  font-style: normal;
}

#brand_choice .brand_choice_top ul {
  float: right;
  margin-top: 10px;
}

#brand_choice .brand_choice_top ul li {
  float: left;
  height: 28px;
}

#brand_choice .brand_choice_top ul li a {
  font-size: 14px;
  color: #333;
  margin: 0 7px;
}

#brand_choice .brand_choice_top ul li:nth-child(2) a {
  color: #ff404c;
}

#brand_choice .brand_choice_top ul li:nth-child(3) a {
  color: #ff404c;
}

#brand_choice .brand_choice_top ul li:nth-child(6) a {
  color: #ff404c;
}

#brand_choice .brand_choice_top ul li:nth-child(9) a {
  width: 56px;
  height: 28px;
  display: block;
  background: #ff404c;
  padding: 0 10px;
  margin-top: 5px;
  line-height: 28px;
  margin-right: 0;
  color: #fff;
}

#brand_choice .brand_pic {
  height: 200px;
}

#brand_choice .brand_pic li {
  float: left;
  margin-right: 12px;
}

#brand_choice .brand_pic li a {
  display: block;
  position: relative;
}

#brand_choice .brand_pic li a img {
  display: block;
}

#brand_choice .brand_pic li a p {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 392px;
  line-height: 25px;
  text-align: center;
  background: rgba(5, 8, 9, 0.45);
  color: #fff;
}

#brand_choice .brand_pic li:nth-last-child(1) {
  margin: 0;
}

#brand_choice .brand_logo {
  margin-top: 12px;
}

#brand_choice .brand_logo ul li {
  float: left;
}

#brand_choice .brand_logo ul li:hover {
  box-shadow: 0 0 30px 1px #999;
}
